#one{

height:70px;
width:100%;
background-color:#b3b3ff;
}
#two{

float:left;
height:400px;
width:70%;
background-color:#e6e6ff;
}
#three{

height:400px;
width:30%;
float:right;
background-color:#cceeff;
}